[submodule ".registry"]
	path = .registry
	url = https://github.com/taxonomicallyinformedannotation/taxonomicallyinformedannotation.r-universe.dev
	branch = HEAD
[submodule "tima"]
	path = tima
	url = https://github.com/taxonomicallyinformedannotation/tima
